.fighter-preview___root {
  display: flex;
  flex-direction: row;
  flex-basis: 350px;
}

.fighter-preview___right {
  align-items: flex-end;
  flex-direction: row-reverse;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-details {
  background-color: #ffdfa7;
  padding: 30px 10px;
  border: 5px solid #ca9650;
  list-style: none;
  align-self: center;
  flex-basis: auto;
}

.fighter-details li {
  white-space: nowrap;
  font-weight: 800;
  text-transform: uppercase;
  color: #ba0303;
}

.short-size {
  height: 200px;
}
